#the-press {
    font-size: 24px;
    opacity: 0.65;
}

#hero {
    margin-top: -64px;
    padding-top: 64px;
    min-height: 100vh;
    background-color: #0d6c7f;
    background-image: url("../images/screenshots/background.jpg");
    background-size: cover;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

#hero #logotype svg path {
    fill: #fff;
}

#hero .small-button {
    background: #fff;
}

nav .nav-content > ul > li > a,
nav .nav-content > ul > li > a:visited {
    margin: 0;
    padding: 0 6px;
    color: #fff;
    fill: #fff;
    opacity: 0.8;
    display: inline-block;
}

#carousel {
    padding: 32px 0;
    min-height: 100vh;
    background-color: #0d6c7f;
    background-image: url("../images/screenshots/background2.jpg");
    background-size: cover;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

#carousel > .row + .row {
    padding-top: 0;
}

#carousel-choices {
    margin-bottom: 0;
}

#carousel-choices .button {
    padding: 8px 16px;
}

#carousel .slide.row {
    max-width: initial;
}

#carousel .slide > .column {
    vertical-align: top;
    margin-left: 16px;
    margin-right: 16px;
}

#carousel .slide > .column:first-child {
    margin: 0;
}

#carousel .slide > .column:nth-child(2) {
    margin-top: 33px;
}

@media (max-width: 1350px) {
    #carousel {
        display: none;
    }
}

#carousel .column.alert img {
    height: 64px;
    width: 64px;
}

#carousel .slide > .column .column:nth-child(2) {
    max-width: 256px;
}

